@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .pulse-animation {
    animation: pulse 2.0s infinite;
  }

  @keyframes expand {
    0% {
      height: 40%; /* Adjust based on initial height */
      top: 60%; /* Adjust based on initial position */
    }
    100% {
      height: 100%;
      top: 0;
    }
  }
  
  .expand-animation {
    animation: expand 0.5s forwards;
  }